
<!-- The routed views render in the <router-outlet>-->

<!DOCTYPE html>
<html>
<head>
	<title>Professional Stamp Website</title>
</head>
<body>
	<header>
		<div class="header-wrapper">
		  <div class="logo">Your Stamp Company Name</div>
	
		  <nav>
			<ul>
			  <li><a routerLink="/home-component" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
			  <li><a routerLink="/about-component" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
			  <li><a routerLink="/sell-component" routerLinkActive="active" ariaCurrentWhenActive="page">Sell</a></li>
			  <li><a routerLink="/stamps-component" routerLinkActive="active" ariaCurrentWhenActive="page">Stamps</a></li>
			  <li><a routerLink="/contact-component" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
			  <li><a routerLink="/signin-component" routerLinkActive="active" ariaCurrentWhenActive="page">Sign in</a></li>
			  <li><a routerLink="/cart-component" routerLinkActive="active" ariaCurrentWhenActive="page"> Cart <i class="fa fa-shopping-cart"></i></a></li>
			</ul>
		  </nav>
		</div>
	  </header>
		
<router-outlet></router-outlet>
 
	 <footer>
		<p>&copy; Our Stamps</p>
	</footer>

</body>
</html>

